body {
	background-color: #292C44;
	color: #F0F0F1;
}

.blue {
	background-color: #4F80E1;
}
.red {
	background-color: #FF5349;	
}
.grey {
	background-color: ;
}
.green {
	background-color: #18CDCA;
}

.black {
	background-color: #302D33;
}
.light-text {
	color: #F0F0F1;
}